<!DOCTYPE html>
<html lang="ko">
 <head>
  <meta charset="UTF-8">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <title>Database shopping list</title>

  <style type="text/css">
    body{ text-align: center; }
  </style>
</head>
<body>
   <h3>shopping list</h3>
   <h4>add</h4>
   <form action = "{{ url_for('login_page') }}" method = "POST">
       id<br>
       <input type = "text" name = "id" /></br>
       password<br>
       <input type = "text" name = "password" /><br>
       <input type = "submit" name = "add" /><br>
   </form>
 </body>
</html>